<div class="container">
  <div class="card">
    <div class="header">
      <h4 class="title"> Inventory Details </h4>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-5">
          <%=simple_form_for @inventory do |f| %>
            <%=f.error_notification %>
            <%=f.input :description %>
            <%=f.input :unit %>
            <%=f.simple_fields_for :stocks do |ff| %>
            <%=ff.input :quantity %>
            <%=ff.input :unit_price, label: "Price" %>
            <% end %>
            <div class="modal-footer">
              <%=f.submit "Save Inventory", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="col-md-5">
        </div>
      </div>
    </div>
  </div>
</div>
