  <div class="card">
    <div class="container">
    <div class="header">
      <h4 class="title"> User Details </h4>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-5">
          <%=simple_form_for @user, html: {multipart: true } do |f| %>
            <%=f.error_notification %>
            <center>
              <%= image_tag @user.photo.url(:thumb), class: "img-circle" %>
              <%= f.input :photo, as: :file %>
            </center>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :first_name %>
              </div>
              <div class="col-md-6">
                <%=f.input :last_name %>
              </div>
            </div>
            <%=f.input :email %>
            <%=f.input :position %>
            <%=f.input : %>

            <div class="modal-footer">
              <%=f.submit "Save Contractor", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
