<div class="col-lg-6 col-md-6">
  <div class="card">
    <div class="header">
      <h4 class="title"><%=@project.name %></h4>
    </div>
    <div class="content">
      <div class="text-center">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <%=link_to "Update", edit_project_path(@project), class: "btn btn-primary btn-block" %>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card">
    <div class="header">
      <h4 class="title">Contractors</h4>
      <hr>
    </div>
  </div>
</div>

<div class="col-md-8">
  <div class="card">
    <div class="header">
      <h4 class="title">Work Details
        <span class="pull-right"><%=link_to "New Work Detail", new_project_work_detail_path(@project), class: "btn btn-primary" %></span>
      </h4>
      <hr>
    </div>
    <div class="content">
      <ul class="list-unstyled team-members">
      <%@project.work_details.each do |work_detail| %>
      <li>
        <div class="row">
          <div class="col-xs-5">
            <p><%=link_to work_detail.description, work_detail %></p>
          </div>
          <div class="col-xs-2">
            <%=work_detail.unit_and_quantity %>
            <br />
            <span class="text-muted"><small>updated last <%=Time.zone.now.strftime("%B %e, %Y")%></small></span>
          </div>
          <div class="col-xs-2">
            <%="#{work_detail.accomplished_quantity} #{work_detail.unit}" %>
            <br />
            <span class="text-muted"><small>updated last <%=Time.zone.now.strftime("%B %e, %Y")%></small></span>
          </div>
          <div class="col-xs-2">
            <%=link_to new_work_detail_accomplishment_path(work_detail) do %>
              <btn class="btn btn-info btn-icon"><i class="fa fa-pencil"></i></span>
            <% end %>
              </div>
        </div>
      </li>
      <% end %>
    </div>
  </div>
</div>
