<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-3">
            <%=link_to monitoring_project_path(@work_detail.project) do %>
              <span class="btn btn-primary btn-icon pull-left"  data-toggle="tooltip" data-placement="bottom" title="Back to Project"><i class="fa fa-chevron-left"></i></span>
            <%end%>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <span class="text-info"><%=@work_detail.code %>: </span>
          </div>
          <div class="col-md-9">
            <p><%=@work_detail.description.upcase %></p>
          </div>
        </div>
        <ul class="list-unstyled team-members">
          <hr>
          <li>
            <div class="row">
              <div class="col-xs-5">
                <i class="fa fa-money text-success"></i>  &nbsp; Quantity
              </div>
              <div class="col-xs-7 text-right">
                <%=@work_detail.quantity %> <%=@work_detail.unit %>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-xs-5">
                <i class="fa fa-money text-success"></i>  &nbsp; Unit Cost
              </div>
              <div class="col-xs-7 text-right">
                <%=number_to_currency @work_detail.unit_cost %>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-xs-5">
                <i class="fa fa-money text-success"></i>  &nbsp; Total Cost
              </div>
              <div class="col-xs-7 text-right">
                <%#=number_to_currency @work_detail.total_cost %>
              </div>
            </div>
          </li>
          <li>
            <br>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <%=link_to "Update", edit_monitoring_work_detail_path(id: @work_detail.id), class: "btn btn-warning" %><br>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <h4 class="title"></h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <ul class="list-unstyled team-members">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <h4 class="title">Contractors
              <span class="pull-right">
              </span>
            </h4>
            <div class="row"><hr></div>
          </div>
          <div class="content">
            <table class="table table-striped">

            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <h4 class="title">Accomplishments</h4>
            <div class="row"><hr></div>
          </div>
          <div class="content">

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <h4 class="title">Collections</h4>
            <div class="row"><hr></div>
          </div>
          <div class="content">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title">Time Extensions
          <span class="pull-right">
            <%#=link_to new_work_detail_time_extension_path(@work_detail), class: "btn btn-primary pull-right btn-icon-sm", title: "New Time Extension" do %>
              <i class="fa fa-plus"></i>
            <%# end %>
          </span>
        </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
      </div>
    </div>
  </div>
</div>
